.DS_Store
Thumbs.db

.vscode/
.idea/
*.iml

dist/
build/

node_modules/

npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log

.cache/
tmp/
*.log

.env
.env.local
.env.*.local

eslint-report.json

coverage/
jest/
__snapshots__/

*.prettiercache

*.swp
*.sublime-project
*.sublime-workspace

.vite/
