//========================= MAIN_MAIN =========================//

.main {
    padding-top: rem(93);
    padding-bottom: rem(98);
    border-bottom: rem(1) solid $white2;

    // .main__container
    &__container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    // .main__content
    &__content {
        flex: 1 1 auto;
        padding-right: rem(20);
    }

    // .main__title
    &__title {
        font-weight: $Bold;
        font-size: rem(96);
        line-height: 1;
        color: $white0;
        text-transform: uppercase;

        span {
            color: $green0;
        }

        &:not(:last-child) {
            margin-bottom: rem(48);
        }
    }

    // .main__buttons
    &__buttons {
        display: flex;
        align-items: center;
        gap: rem(24);
    }

    // .main__hire-button
    &__hire-button {
    }

    // .main__cv-button
    &__cv-button {
        span {
            display: inline-block;
            padding-right: rem(34);
            background: url("../../img/main/main/icon/01.svg") right no-repeat;
        }
    }

    // .main__image
    &__image {
        flex: 0 0 42.8%;
        text-align: center;

        img {
            max-width: 100%;
        }
    }
}

//========================= MAIN_MAIN (BREAKPOINTS) =========================//

// MAX
@media (max-width: $pc) {
    .main {
        padding-top: rem(50);
        padding-bottom: rem(45);
    }
    .main__container{
        flex-direction: column;
        align-items: stretch;
    }
    .main__content {
        padding-right: rem(0);
    }
    .main__title{
        text-align: center;
    }
    .main__image{
        flex: 0 0 auto;
    }
    .main__buttons{
        justify-content: center;
    }
}
@media (max-width: $tablet) {
}
@media (max-width: $mobileLarge) {
    .main {
        padding-top: rem(35);
        padding-bottom: rem(35);
    }
    .main__title{
        font-size: rem(65);

        &:not(:last-child){
            margin-bottom: rem(25);
        }
    }
}
@media (max-width: $mobileSmall) {
    .main__title{
        font-size: rem(45);
    }
    .main__buttons{
        gap: rem(10);
        flex-direction: column;
        align-items: stretch;
    }
}

// MIN
@media (min-width: $pc) {
}
@media (min-width: $tablet) {
}
@media (min-width: $mobileLarge) {
}
@media (min-width: $mobileSmall) {
}
