//========================= MAIN_CONTACTS =========================//

.contacts {
    padding-top: rem(155);
    padding-bottom: rem(155);

    // .contacts__container
    &__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: rem(48);
        align-items: start;
    }

    // .contacts__content
    &__content {
    }

    // .contacts__title
    &__title {
    }

    // .contacts__image
    &__image {
        text-align: center;

        img {
            max-width: 100%;
        }
    }

    // .contacts__form
    &__form {
    }
}

.form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(24);

    // .form__item
    &__item {
        &:nth-child(3) {
            grid-column: span 2;
        }

        &:nth-child(4) {
            grid-column: span 2;
        }
    }

    // .form__label
    &__label {
        display: block;
        color: $white0;
        margin-bottom: rem(10);
        font-weight: $Bold;
    }

    // .form__input
    &__input {
        background-color: $grey4;
        border-radius: rem(16);
        width: 100%;
        padding: rem(0) rem(24);
        color: #fff;
        height: rem(59);

        &::placeholder {
            color: $white3;
            transition: opacity 0.3s ease 0s;
        }

        &:focus {
            &::placeholder {
                opacity: 0;
            }
        }
    }

    // .form__button
    &__button {
        span {
            display: inline-block;
            padding-right: rem(34);
            background: url("/img/main/contacts/icons/01.svg") right no-repeat;
        }
    }
}

textarea.form__input {
    height: rem(280);
    resize: vertical;
    padding: rem(24);
}

//========================= MAIN_CONTACTS (BREAKPOINTS) =========================//

// MAX
@media (max-width: $pc) {
    .contacts{
        padding-top: rem(70);
        padding-bottom: rem(70);
    }
}
@media (max-width: $tablet) {
    .contacts{
        padding-top: rem(45);
        padding-bottom: rem(45);
    }
    .contacts__container{
        grid-template-columns: auto;
    }
    .contacts__title{
        text-align: center;
    }
    .contacts__image{
        display: none;
    }
}

@media (max-width: rem(600)) {
    .form{
        flex-direction: column;
        display: flex;
    }
    .form__button{
        width: 100%;
    }
}
@media (max-width: $mobileLarge) {
}
@media (max-width: $mobileSmall) {
}

// MIN
@media (min-width: $pc) {
}
@media (min-width: $tablet) {
}
@media (min-width: $mobileLarge) {
}
@media (min-width: $mobileSmall) {
}
