//========================= BEM =========================//

//========================= PAGE =========================//

.page {
    padding-top: rem(85);

    // .page__main
    &__main {
    }

    // .page__about
    &__about {
    }

    // .page__works
    &__works {
    }

    // .page__contacts
    &__contacts {
    }
}

//========================= SOCIAL =========================//

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: rem(24);

    // .social__link
    &__link {
        background-color: $grey1;
        flex: 0 0 rem(48);
        height: rem(48);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.3s ease 0s;

        &:hover {
            background-color: $grey2;
        }
    }
}

//========================= BUTTON =========================//

.button {
    text-align: center;
    font-weight: $Bold;
    font-size: rem(18);
    line-height: 1.5;
    padding: rem(10) rem(32);
    color: $white0;
    border-radius: rem(24);
    background-color: $green0;
    transition: background-color 0.3s ease 0s;

    &:hover {
        background-color: $grey3;
    }

    &_dark {
        background-color: $grey3;

        &:hover {
            background-color: $green0;
        }
    }

    &_dark.active {
        background-color: $green0;
    }
}

//========================= TITLE =========================//
.title {
    font-weight: $Bold;
    font-size: rem(64);
    line-height: 1.2;
    color: $white0;

    span {
        color: $green0;
    }
}

//========================= BEM (BREAKPOINTS) =========================//

// MAX
@media (max-width: $tablet) {
    .title {
        font-size: rem(52);
    }
}

@media (max-width: $mobileLarge) {
    .title {
        font-size: rem(45);
    }
}

@media (max-width: rem(500)) {
    .page {
        padding-top: rem(73);
    }
}
