//========================= MAIN_WORKS =========================//

.works {
    padding-top: rem(145);
    padding-bottom: rem(145);
    background: url("/img/main/works/cover/01.svg") 0 0 repeat;

    // .works__container
    &__container {
    }

    // .works__title
    &__title {
        &:not(:last-child) {
            margin-bottom: rem(20);
        }
    }

    // .works__items
    &__items {
    }
}

.items-works {
    // .items-works__navigation
    &__navigation {
        display: flex;
        flex-wrap: wrap;
        gap: rem(16);
        margin-bottom: rem(48);
    }

    // .items-works__type
    &__type {
    }

    // .items-works__body
    &__body {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(rem(280), 1fr));
        gap: rem(45);
    }

    // .items-works__item
    &__item {
        background-color: $grey4;
        backdrop-filter: blur(rem(2));
        border-radius: rem(16);
    }

    // .items-works__image
    &__image {
        position: relative;
        padding-bottom: 59.62%;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

//========================= MAIN_WORKS (BREAKPOINTS) =========================//

// MAX
@media (max-width: $pc) {
    .works {
        padding-top: rem(70);
        padding-bottom: rem(70);
    }
}
@media (max-width: $tablet) {
    .works {
        padding-top: rem(45);
        padding-bottom: rem(45);
    }
}
@media (max-width: $mobileLarge) {
    .works__title{
        text-align: center;
    }
    .items-works__navigation{
        justify-content: center;
        margin-bottom: rem(20);
    }
    .items-works__body{
        gap: rem(15);
    }
}
@media (max-width: $mobileSmall) {
}

// MIN
@media (min-width: $pc) {
}
@media (min-width: $tablet) {
}
@media (min-width: $mobileLarge) {
}
@media (min-width: $mobileSmall) {
}
