//========================= FONTS =========================//

// COLORS (PROJECT)
$black1: rgba(34, 40, 49, 1);
$black2: rgba(34, 40, 49, 0.8);
$green0: rgba(0, 173, 181, 1);
$grey1: rgba(57, 62, 70, 1);
$grey2: rgba(69, 75, 84, 1);
$grey3: rgba(57, 62, 70, 0.75);
$grey4: rgba(57, 62, 70, 0.5);
$white0: rgba(238, 238, 238, 1);
$white1: rgba(238, 238, 238, 0.75);
$white2: rgba(238, 238, 238, 0.1);
$white3: rgba(238, 238, 238, 0.5);

// WEIGHTS
$Thin: 100;
$ExtraLight: 200;
$Light: 300;
$Regular: 400;
$Medium: 500;
$SemiBold: 600;
$Bold: 700;
$ExtraBold: 800;
$Black: 900;

// STYLE
$poppins: "Poppins", sans-serif;
$oswald: "Oswald", sans-serif;

//========================= CONTAINER =========================//

[class*="__container"] {
    max-width: rem(1280);
    padding: rem(0) rem(15);
    margin: 0px auto;
}
