//========================= FONTS =========================//

// &display=swap
// &display=swap&subset=cyrillic-ext

//========================= POPPINS =========================//
@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-Bold.woff2') format('woff2'),
        url('/fonts/Poppins/Poppins-Bold.woff2') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-Regular.woff2') format('woff2'),
        url('/fonts/Poppins/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}




//========================= OSWALD =========================//
@font-face {
    font-family: 'Oswald';
    src: url('/fonts/Oswald/Oswald-Bold.woff2') format('woff2'),
        url('/fonts/Oswald/Oswald-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

