/* ОБНУЛЕНИЕ СТИЛЕЙ */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    color: inherit;
}

ul,
ol,
li {
    list-style: none;
}

a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

img {
    vertical-align: top;
}

html {
    height: 100%;
}

body {
    background-color: $black1;
    font-family: $poppins;
    //font-weight: $Bold;
    font-size: rem(18);
    color: $white1;
    line-height: 1;
    height: 100%;
}

textarea,
button,
input {
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
}

button {
    cursor: pointer;
    background-color: inherit;
}

.wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;

    > main {
        flex: 1 1 auto;
    }
    > * {
        min-width: 0;
    }
}
